<footer class="site-footer h-card">
  <data class="u-url" href="{{ " /" | relative_url }}"></data>

  <div class="wrapper">
    <div class="flex-wrapper">
      <ul class="contact-list">
        <li class="p-name">
          {%- if site.author -%}
          {{ site.author | escape }} ©<script>document.write(new Date().getFullYear())</script>
          {%- else -%}
          {{ site.title | escape }}
          {%- endif -%}
        </li>
      </ul>

      <div class="footer-col">
        {%- include social.html -%}
      </div>

      {%- if site.description -%}
      <div class="footer-col">
        <p>{{- site.description | escape -}}</p>
      </div>
      {%- endif -%}

    </div>
  </div>

</footer>